@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
  color: rgb(255, 234, 0);
  background-color: black;
  font-family: "Abril Fatface", 'Courier New';
}