@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
  color: #E6D901;
  background-color: #090909;
  font-family: "Abril Fatface", 'Courier New';
  margin: 0;
  padding: 0;
}



